<h1>Order Receipt</h1>

<p>Name: <%= @shoo.name %></p>

<p>Address: <%= @shoo.address %></p>

<p>Quantity: <%= @shoo.quantity %></p>

<p>Size: <%= @shoo.size %></p>

<img src="https://cdn1.thehunt.com/app/public/system/zine_images/1298679/original/a7dbf9415b17909f4a6d4c38de9b207e.jpg" alt="Pastal Shoos">