<h1>Chris' Shoos!</h1>

<p>We are a new company that will provide you with high quality shoos!. We only use the best materials and latest designs</p>

<h3>Shoos for life!</h3>

<p>Our shoos for life plan is only £120 each year. We will provide you with a new pair of shoes in the latest style</p>

<img src="https://cdn1.vox-cdn.com/thumbor/0-hbMrLEjfAyAAaP4Oy-um9wZtw=/64x0:741x451/1310x873/cdn0.vox-cdn.com/uploads/chorus_image/image/49174711/Screen_Shot_2016-03-27_at_5.26.11_PM.0.0.png" alt="pastal trainers">