<!DOCTYPE html>
<html>

<head>
  <title>Chris' Shoos</title>
</head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
  
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/shoos/new">Order</a></li>
      <li><a href="/shoos">Orders Placed</a></li>
    </ul>
  </nav>

<%= yield %>
</body>

</html>