<h1>Order your new shoos!</h1>

<p>All you have to do is fill out this simple form to order your amazing new shoos!</p>

<form action = "/shoos" method = "post" >

<label for = "name" >Full Name:</label>
<input type= "text" name= "name"></input>


<label for= "address" >Address:</label>
<input type= "text" name= "address"></input>

<label for= "quantity" >Quantity:</label>
<input type= "number" name= "quantity"></input>

<label for = "size">Select your size</label>
<select name = "size">
  <option value = 7 >7</option>
  <option value = 8 >8</option>
  <option value = 9 >9</option>
  <option value = 10 >10</option>
  <option value = 11 >11</option>
</select>

<input type="submit" value = "Order Shoos"></input>

</form>

<img src="http://img3.etsystatic.com/014/0/6851973/il_fullxfull.422717259_iixo.jpg" alt="Patal Shoos">