body {
background: #008bba;
font-family: sans-serif;
color: #dc403b;
}


h1 {
font-style: bold;
text-align: center;
color: #df514c;
background: #d0c91f;
text-decoration: underline;
}

h3 {
  margin: 2% 5% 2% 5%;
  text-decoration: underline;
}

nav {
  background: #df514c;
  padding: 20px 0;
  margin: 0;
}


p {
font-style: italic;
margin: 2% 5% 2% 5%;
color: #d0c91f;
}

li {
  margin: 0 13% 0 13%;
  display: inline;
  align: right;
  
}
li:hover {
  color #d0c91f;
}
 
h2 {
  color: #d0c91f;
  text-decoration: underline;  
}

img {
height: 50%;
width: 50%;
max-width: 90%;
max-height: 90%;
display: block;
margin: 0 auto;
border-radius: 100%;
}

form {
  margin: 20px;
}

div {
  text-align: center;
}




